<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户个人信息</title>
</head>
<body>
<div align="center" style="margin-top: 100px">
    <form action="/users/editInfo" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${user.id}">
        <img class="avatar" src="../../static/img/avatar.jpg"
             th:src="@{${user.avatar}}" alt="" width="120"
             height="120">
        <br> <br> <br>
        <input type="file" placeholder="请选择头像" name="file"/>
        <br> <br> <br>
        <span th:text="#{info.username}">用户名：</span><input placeholder="xzq" th:value="${user.username}"
                                                           name="username">
        <br> <br> <br>
        <span th:text="#{info.nickname}">昵&#12288;称：</span><input placeholder="甲如"
                                                                  th:value="${user.nickname}"
                                                                  name="nickname">
        <br> <br> <br>
        <!-- <span th:text="#{info.password}">密&#12288;码：</span><input placeholder="密码"
                                                                   name="password">-->
        <!--提交按钮-->
        <div style="text-align: center">
            <button type="submit" th:text="#{info.submit}">提交</button>
        </div>
    </form>
</div>
</body>
</html>