<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NIIT博客平台——一个超垃圾的博客网站</title>
    <style>
        .slogan {
            font-family: "KaiTi", "楷体", STKaiti, "华文楷体";
            font-size: 200px;
            font-weight: bold;
            margin: 400px auto;
            display: block;
            text-align: center;
        }
    </style>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/cool-nav-bar.css" th:href="@{/css/cool-nav-bar.css}">
</head>
<body>
<header class="site-header">
    <div class="nav-bar-container">
        <a href="/" class="motto" title="学无止境" th:text="#{index.title}">学无止境</a>
        <nav>
            <div class="nav-item">
                <a class="nav-item-link" href="/" th:href="@{/}" th:text="#{index.index}">首页</a>
            </div>

            <div class="nav-item">
                <a class="nav-item-link" href="/posts/postEditor.html" th:href="@{/posts/postEditor}" th:text="#{index.editor}">写文章</a>
            </div>

            <div class="nav-item">
                <a class="nav-item-link" href="/users/users.html" th:href="@{/users/users}" th:text="#{index.hotUser}">热门博主</a>
            </div>
            <div class="nav-item">
                <a class="nav-item-link" href="/posts/latestPosts.html" th:href="@{/posts/latestPosts}" th:text="#{index.recommended}">推荐博客</a>
            </div>
            <div class="nav-item">
                <a class="nav-item-link" href="/login.html" th:href="@{/login}" th:text="#{index.login}">登陆</a>
            </div>
            <div class="nav-item">
                <a class="nav-item-link" href="/register.html" th:href="@{/register}" th:text="#{index.register}">注册</a>
            </div>

        </nav>
    </div>

</header>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="../static/js/cool-nav-bar.js" th:src="@{/js/cool-nav-bar.js}"></script>
</body>
</html>
<main>
    <span class="slogan" th:text="#{index.slogan}">天道酬勤</span>
</main>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>
</html>